@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
/* font-family: 'Rubik', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
/*font-family: 'Rubik', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');
/* font-family: 'Fredoka', sans-serif; */


*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
 :root{
    --bg:#1e2345;
    --violet: rgb(161,132,240);
    --pink: #d60087;
    --turquoise:#2fdadb;
    font-size: 10px;

 }


 body{
    background-color: var(--bg);

 }
.nav{
   padding: 30px;
   height: 90px;
   color: #fff;
 

}


.nav_container{
    display: flex;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    justify-content:flex-end;
    text-align:center;
 
    
    
}

.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 6em;

  
  
}

.nav__item{
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; 
    font-size: 18px;
    font-weight: 550;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);

}

.nav__item::after{
    content:"";
    display: inline-block;
    background-color: #fff;
    width: 90%;
    height: 2px;
    margin-top: 3px;
    clip-path: var(--clippy) ;
    transition: clip-path .3s;

}

.nav__item:hover{
 --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);


}

.navlabel, .nav__input{
    display: none;
}


/* h1 */

.container-text{

    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 30px;
   font-family: 'Fredoka', sans-serif;  
   
     
  }

  .text{
    width: 60%;

   
}

.container-text p{
    font-size: 20px;
    font-weight: 600;
    color:#fff;
    margin-bottom: 30px;
    font-family: 'Rubik', sans-serif;
    
}



h1{
    font-size: 50px;
   text-transform: uppercase;

  
}
.h1-nombre{
  
    background-color: var(--violet);
    background-image: linear-gradient(45deg, var(--violet), var(--turquoise));
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
   
}

.text{
    background-color: var(--bg);
    padding: 13rem ;
    width: 100%;
    height: calc(100vh 3rem);
    display: grid;
    
}
.gradient-border{
    width: 100%;
    height:700px;
    background: linear-gradient(100deg, var(--violet) 25%, var(--turquoise) 50%, var(--violet)75%);
    background-repeat: repeat;
    padding: 3rem;
    border-radius: 2rem;
    animation: gradient 5s linear infinite;
}


@keyframes gradient{
    0%{
        background-position: 0 0;
    }

    50%{
        background-position: -80rem 0;
    }

    100%{
        background-position: 0 0;
    }
}

.img_home{
    overflow: hidden;
    background-size: cover;
    background-position: center;

}


.btn{
    display: inline-block;
    padding: 2px 11px;
   font-size: 16px;
   font-weight: 600;
   transition: all 0.6s ;
   color:#1CB698;
}

.btn:hover{
   transform: scale(1.2);
   
}



/* aboutme */


.About{
    width: 100%;
    height: 550px;
    color: #fff;
    padding: 150px;

    

}

.h2{

  font-size: 35px;
 animation-duration: 1s;
 
    
}

h2{
    animation-duration: 3s;
    
}


  
.parrafo-2{
  max-width: 1250px;
  font-size: 20px;
  font-weight: 500;
  padding: 30px;

}
.parrafo-2 span{
    font-weight: bold;
    font-size: 25px;
    color:#0c7f68;
}

h3{
  
  font-size: 30px;
  

}

.idiomas{
    width: 100%;
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
   
  
    

}
.Skills{
    width: 100%;
    height: 500px;
    padding: 160px;
    text-align: center;

 

}

#habilidades-h2{
    font-size: 40px;
}

.imgh{
    background-color: rgba(0, 0, 0, 0.212);
     margin: 20px;
    padding: 30px 30px 35px ;
    transition: 0.5s;
    object-fit: cover;
    width: 120px;
    border-radius: 7px;


}

.imgh:hover{
    
    transform: scale(1.2);
}



.container-proyects{
 width: 100%;
 height: 750px;
 overflow: hidden;
 display: flex;
 justify-content: center;
 gap: 150px;
 
 
    
}


.cards-lolita{
 background-color: rgba(0, 0, 0, 0.459);
 width: 350px;
  height:420px;
  background-color: ;
  padding:35px ;
  margin-top: 100px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 400ms ease; 
}

.cards-lolita:hover{
    box-shadow: 5px 5px 20px rgb(0,0,0,0.4);
    transform: translateY(-10%);


    }

.imglaptop{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    
}



.proyects h3 {
    display: flex;
    justify-content: center;
color: #fff;
   font-size: 25px;
   font-family: 'Roboto', sans-serif; 
}

.parrafo {
   color: black;
   font-family: 'Roboto', sans-serif; 
  
color: #fff;
font-size: 15px;
  
}



#codigo{
    font-size: 20px;
    cursor: pointer;
   background-image: linear-gradient(45deg, var(--violet), var(--turquoise));
   border-radius: 6px 6px;
   padding: 10px 10px ;
   margin: 10px;
   
}

#codigo1{
    font-size: 20px;
    cursor: pointer;
    background-image: linear-gradient(45deg, var(--violet), var(--turquoise));
    padding: 10px 10px ;
    border-radius: 6px 6px;
    margin: 10px;
}

.boton-card{
    transition: all 400ms ease;
}

.boton-card:hover{
    box-shadow: 5px 5px 20px rgb(0,0,0,0.4);
   transform: translateY(-36%);
}




/* DATOS */

.formulario-contenedor{
    width: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   margin-left: 300px;
   cursor: pointer;
 
}


.datos{
  position: absolute;
  margin: 150px;
  margin-left: 150px;
  color: #fff;
  padding: 50px;
  font-size: 20px;
 font-family: 'Rubik', sans-serif;
}



.fa-solid{
   font-size: 40px;
    padding: 15px;
} 



/* formulario */

.container{
    width: 100%;
    height: 750px;
    padding: 150px;
    margin: 0 auto;
    
    box-shadow: 0px 0px 7px 2px #ffffffe3; 
   
}

form{
    width: 420px;
    height: 400px;
    margin: 100px;
  padding: 20px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 7px 2px #ffffffe3; 
    font-size: 15px;
  
    
}

h2{
    color:#fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;

}


input, textarea{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.527);
    color: #fff;
    margin-bottom:30px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 20px;
   
    

}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
   
    color:#fff;
    padding: 20px;
    transition: all 0.8s ;
}

#boton:hover{
 
   background-image: linear-gradient(45deg, var(--violet), var(--turquoise));
}


#boton:hover{
    cursor: pointer;
}

    

/* FOOTER */

footer{
    background-color: rgba(0, 0, 0, 0.707);
    height: 150px;
  
   
}

.footer-links{
    display: flex;
    justify-content:center;
    width: 100%;
    bottom: 20px
    
}

.fa-brands{
    font-size: 35px;
 margin: 20px;
 display: flex;
 justify-content:center ;
 cursor: pointer;
 color:#1CB698;

}


.fa-brands:hover{
    transform: scale(1.2);

}
.derechos{
   display: flex;
   justify-content: center;
   font-size: 15px;
   margin-top: 50px;
   color: #fff;
}


.ir-arriba{
 position: fixed;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    bottom:20px;
    right: 20px;
    background-color: #fff;
    border-radius: 50px 50px;
  
}


 @media (max-width:980px){


    body{
        background-color: var(--bg);

    }
    .navlabel{
        display: block;
        cursor:pointer;
    }

    .nav__menu{
      position: fixed;
      top: 75px;
      bottom: 0;
      background-color: darkgray;
      width: 100vw;
      left: 0;
      display:flex;
      justify-content: space-evenly;
      flex-direction: column;
       align-items: center;
       clip-path: circle(0 at center);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: clip-path .5s ease-in-out;  
    }

    .nav__input:checked + .nav__menu{
       clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);

    }
   .container-text{
    width: 100%;

   }
      
   .text{
        padding:12rem;
      }
      
      .h1-nombre{
      
      }
      
      
      .About{
  
       margin-top: 180px;
       margin-left: 80px;
       font-size: 12px;
       width: 400px;
       height: 400px;
       padding: 20px;
       overflow: auto;
      }
      
      
      .h2{
      font-size: 12px;
      }
      
      
      .parrafo-2 {
      font-size: 15px;
      }
      
      .About span{
      font-size: 15px;
      color: #fff;
      }
      .idiomas{
      font-size: 15px;
      }
      
      .Skills {
      margin-left: 120px;
      display: block;
      width: 50%;
      
      padding: 10px;
      }
      #habilidades-h2{
      font-size: 18px;
      }
      
      .imgh{
      
      background-color: transparent;
      margin: 10px;
      display:inline-block ;

    }


     .container{
        box-shadow: none;
    }
       
   .datos{
    visibility: hidden;
   } 

    form{
        
     width: 100%;
     margin-right: 200px;
  }


}


@media(max-width:700px){
  
    body{
        background-color: #fff;
    }

    .nav{
      background-color: #1e2345;
     border-radius: 5px;



}

.nav_container{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content:flex-end;
    text-align:center;

    
    
}

.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 6em;

  
  
}




.gradient-border{
    width: 100%;
    height:700px;
    margin: 0 ;
    padding: 0;

}



.About{
    margin-top: 250px;
    margin-left: 80px;
}


.h2{
    font-size: 12px;
    color: black;
    }
    
    
    .parrafo-2 {
    font-size: 15px;
    color: black;
    }
    
    .About span{
    font-size: 15px;
    color: black;
    }
    .idiomas{
    font-size: 15px;
    color: black;
    }






.Skills{
    width: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  
}


#habilidades-h2{
    
    font-size: 20px;


}

.container-proyects{
    display: block;
   width: 100%;
   height: 100%;
   margin: 100px;
 
}

.cards-lolita{
    background-color: #1e2345;
    display: flex;
   overflow: hidden;
   flex-wrap: wrap;

}


form{
    visibility: hidden;
}


footer{
    background-color: #fff;
}

.footer-links{
    display: block;
   width: 100px;
}

}




@media (max-width:520px){

     .nav_container{
        width: 100%;
     }


    .gradient-border{
        width: 100%;
        height:700px;
      
    }
    

   
    .h2{
        font-size: 12px;
        color: black;
        }
        
        
        .parrafo-2 {
        font-size: 15px;
        color: black;
        }
        
        .About span{
        font-size: 15px;
        color: black;
        }
        .idiomas{
        font-size: 15px;
        color: black;
        }
    .Skills{
        width: 100%;
        margin: 2px;
    }

    footer{
        width: 100%;
        background-color: #fff;
    }

    .footer-links{
        display: block;
        width: 20px;
    }
}












   



 